@model Dziennik_v0._1.Core.ViewModels.WelcomePageViewModel

    <div class="col-sm-3">
        <div class="text-center statsBar">
            <h4>Twoje statystyki - </h4>
            <h4>@DateTime.Now.ToString("MMMM")</h4>

            <div class="workoutStatsBarPanel">
                <h5>Trening siłowy:</h5>
                <p>Ilość treningów: @Model.Workouts.Count</p>
                <p>Łączny czas: @Model.LengthOfWorkoutSum min.</p>
                <p>Łączny ciężar: @Model.VolumeSum ton.</p>
            </div>

            <div class="cardioStatsBarPanel">
                <h5>Trening cardio:</h5>
                <p>Ilość treningów: @Model.Cardios.Count</p>
                <p>Łączny czas: @Model.LengthOfCardioSum min.</p>
                <p>Łączny dystans: @Model.DistanceSum km.</p>
                <p>Ulubiona atkywność: @Model.MostCardioType</p>
            </div>
        </div>
        @if (@Model.WorkoutBestVolume == null)
        {
            <div class="statsBar text-center">
                <div class="workoutStatsBarPanel">
                    <h4>Rekordy życiowe - trening siłowy</h4>
                    <p>Największy ciężar:</p>
                    <p>brak treningów</p>
                    <p>Najdłuższy trening:</p>
                    <p>brak treningów</p>
                </div>
            </div>
        }
        else
        {
            <div class="statsBar text-center">
                <div class="workoutStatsBarPanel">
                    <h4>Rekordy życiowe - trening siłowy</h4>
                    <p>Największy ciężar:</p>
                    <p>@Model.WorkoutBestVolume.Date.ToString("yyyy/MM/dd") - @Model.WorkoutBestVolume.WorkoutVolume kg.</p>
                    <p>Najdłuższy trening:</p>
                    <p>@Model.WorkoutLongestTrening.Date.ToString("yyyy/MM/dd")  -  @Model.WorkoutLongestTrening.LengthOfTraining min.</p>
                </div>
            </div>
        }
        @if (@Model.RuningBestDistance == null)
        {
            <div class="statsBar text-center">
                <div class="cardioStatsBarPanel">
                    <h4>Rekordy życiowe - bieganie</h4>
                    <p>Najdłuższy dystans:</p>
                    <p>brak treningów</p>
                    <p>Najdłuższy bieg:</p>
                    <p>brak treningów</p>
                </div>
            </div>
        }
        else
        {
            <div class="statsBar text-center">
                <div class="cardioStatsBarPanel">
                    <h4>Rekordy życiowe - bieganie</h4>
                    <p>Najdłuższy dystans:</p>
                    <p>@Model.RuningBestDistance.Date.ToString("yyyy/MM/dd")  -  @Model.RuningBestDistance.Distance km.</p>
                    <p>Najdłuższy bieg:</p>
                    <p>@Model.RuningLongestTime.Date.ToString("yyyy/MM/dd")  -  @Model.RuningLongestTime.LengthOfTraining min.</p>
                </div>
            </div>
        }
    </div>