@model Dziennik_v0._1.Core.ViewModels.AddFoodToMealViewModel
@{
    ViewBag.Title = "AddFoodToMeal";
    int globalType = (int)Model.MealType;
    int mealId = Model.Id;
}
<h2>Dodaj nowe pozycje do menu:</h2>

@if (Model.MealType == Dziennik_v0._1.Core.Models.Enums.MealType.breakfast)
{
    <h3>Sniadanie:</h3>
}
@if (Model.MealType == Dziennik_v0._1.Core.Models.Enums.MealType.dinner)
{
    <h3>Kolacja:</h3>
}
@if (Model.MealType == Dziennik_v0._1.Core.Models.Enums.MealType.lunch)
{
    <h3>Obiad:</h3>
}
@if (Model.MealType == Dziennik_v0._1.Core.Models.Enums.MealType.snacks)
{
    <h3>Przekąski:</h3>
}
<h4>@Model.Date.ToString("dd/MM/yyyy")</h4>

<table class="table">
    <tr>
        <th>
            Nazwa:
        </th>

        <th>
            Kalorie:
        </th>

        <th>
            Białko:
        </th>

        <th>
            Tłuszcz:
        </th>

        <th>
            Węglowodany:
        </th>

        <th>
            Waga:
        </th>

        <th>
            Usuń:
        </th>
    </tr>

    @foreach (var item in Model.FoodModels)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fat)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Carbohydrates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                <a href="#" id="@item.Id" class="btn btn-danger btn-sm js-delete">
                    <i class="fas fa-trash"></i>
                </a>

            </td>
        </tr>
    }
</table>

<h5>Wyszukaj potrawy:</h5>

<div class="d-flex justify-content-center h-100">
    <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="szukaj...">
        <a href="#" class="search_icon" id="js-search"><i class="fas fa-search"></i></a>
    </div>
</div>

<table class="table hidden" style="margin-top:15px;">
    <thead>
        <tr scope="col">
            <td>Nazwa</td>
            <td>Kalorie</td>
            <td>Białko</td>
            <td>Tłuszcze</td>
            <td>Weglowodany</td>
            <td>Waga zjedzonego posiłku (g.) :</td>
            <td></td>
        </tr>
    </thead>

    <tbody id="tblFood">
    </tbody>
</table>

    @Html.ActionLink("Dodaj nową potrawę", "AddFoodToCSV", new { dateTime = @Model.Date }, new { @class = "btn btn-primary hidden js-addlink" })

<div class="text-center">
    @Html.ActionLink("Powrót do odżywianie", "Index", new { dateTime = @Model.Date }, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    <script>
        var globalData;
    </script>
    <script type="text/javascript">
        $("#js-search").click(function () {
            result = $(".search_input").val(),
                $(".table").removeClass("hidden");
            $(".js-addlink").removeClass("hidden");
            $.ajax({
                url: '../Api/DietApi/GetFoodData/?=' + result,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    globalData = data;
                    var tr;
                    for (var i = 0; i < data.length; i++) {
                        tr = tr + "<tr scope='col'>";
                        tr = tr + "<td>" + data[i].Name + "</td>";
                        tr = tr + "<td>" + data[i].Calories + "</td>";
                        tr = tr + "<td>" + data[i].Protein + "</td>";
                        tr = tr + "<td>" + data[i].Fat + "</td>";
                        tr = tr + "<td>" + data[i].Carbohydrates + "</td>";
                        tr = tr + "<td><input class='' id=" + i + " type = 'number' name = '' value='100'></td>";
                        tr = tr + "<td><a href='#' class='btn btn-primary js-addFood' value=" + i + "> dodaj </a></td>"
                        tr = tr + "</tr>";
                    }
                    $('#tblFood').html(tr);
                },
            });
        });
    </script>
    <script>
        $("body").delegate(".js-delete", "click", function (e) {
            e.preventDefault();
            var id = $(this).attr("id");
                $.ajax({
                    type: "DELETE",
                    url: '../Diet/DeleteFood/',//url: '../Api/DietApi/DeleteFood/', nie dziala w api 
                    data: { id: id },
                    complete: function () {
                        location.reload(true)
                    }
            });
        });
    </script>
    <script>
        $("body").delegate(".js-addFood", "click", function (e) {
                var iterator = $(e.target).attr("value");
                var foodWeight = $("#" + iterator).val();
                globalData[iterator].Weight = foodWeight;
                globalData[iterator].MealType = @globalType;
                globalData[iterator].DailyMenuId = @mealId;
                console.log(globalData[iterator]);
                $.ajax({
                    type: "POST",
                    url: "../Api/DietApi/AddFood",
                    data: JSON.stringify(globalData[iterator]),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function () {
                        location.reload(true)
                    }
                });
            });
    </script>
}