@model Dziennik_v0._1.Core.Models.DailyMenu

@{
    ViewBag.Title = "Index";
    var SnacksCount = 0;
    var BreakfestCount = 0;
    var DinnerCount = 0;
    var LunchCount = 0;
}

<h2>Odżywianie:</h2>
@Html.ActionLink("Profil", "UserProfile", "Diet", new { area = "" }, new { @class = "btn btn-info btn-lg" })
<h2>Twoje posiłki:</h2>
<h4>@Model.DailyMenuDate</h4>

<table class="table">
    <tr>
        <th>
            Nazwa:
        </th>

        <th>
            Kalorie:
        </th>

        <th>
            Białko:
        </th>

        <th>
            Tłuszcz:
        </th>

        <th>
            Węglowodany:
        </th>

        <th>
            Waga:
        </th>
    </tr>

    @if (BreakfestCount == 0)
    {
        <tr class="MealTableRow">
            <td>Sniadanie:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
    @foreach (var item in Model.FoodModels.Where(f => f.MealType == Dziennik_v0._1.Core.Models.Enums.MealType.breakfast))
    {

        BreakfestCount++;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fat)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Carbohydrates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
        </tr>
    }
    @if (BreakfestCount == Model.FoodModels.Where(f => f.MealType == Dziennik_v0._1.Core.Models.Enums.MealType.breakfast).Count())
    {
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@Html.ActionLink("+", "Index", "AddFoodToMeal", null, new { @class = "btn btn-primary btn-sm" })</td>
        </tr>
    }
    @if (LunchCount == 0)
    {
        <tr class="MealTableRow">
            <td>Obiad:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }

    @foreach (var itemlunch in Model.FoodModels.Where(f => f.MealType == Dziennik_v0._1.Core.Models.Enums.MealType.lunch))
    {
        LunchCount++;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => itemlunch.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => itemlunch.Calories)
            </td>

            <td>
                @Html.DisplayFor(modelItem => itemlunch.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemlunch.Fat)
            </td>

            <td>
                @Html.DisplayFor(modelItem => itemlunch.Carbohydrates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemlunch.Weight)
            </td>
        </tr>
    }
    @if (LunchCount == Model.FoodModels.Where(f => f.MealType == Dziennik_v0._1.Core.Models.Enums.MealType.lunch).Count())
    {
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@Html.ActionLink("+", "Index", null, null, new { @class = "btn btn-primary btn-sm" })</td>
        </tr>
    }

    @if (DinnerCount == 0)
    {
        <tr class="MealTableRow">
            <td>Kolacja:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }

    @foreach (var itemlunch in Model.FoodModels.Where(f => f.MealType == Dziennik_v0._1.Core.Models.Enums.MealType.dinner))
    {
        DinnerCount++;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => itemlunch.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => itemlunch.Calories)
            </td>

            <td>
                @Html.DisplayFor(modelItem => itemlunch.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemlunch.Fat)
            </td>

            <td>
                @Html.DisplayFor(modelItem => itemlunch.Carbohydrates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemlunch.Weight)
            </td>
        </tr>
    }
    @if (DinnerCount == Model.FoodModels.Where(f => f.MealType == Dziennik_v0._1.Core.Models.Enums.MealType.dinner).Count())
    {
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@Html.ActionLink("+", "Index", null, null, new { @class = "btn btn-primary btn-sm" })</td>
        </tr>
    }

    @if (SnacksCount == 0)
    {
        <tr class="MealTableRow">
            <td>Przekąski:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }

    @foreach (var itemlunch in Model.FoodModels.Where(f => f.MealType == Dziennik_v0._1.Core.Models.Enums.MealType.snacks))
    {
        SnacksCount++;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => itemlunch.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => itemlunch.Calories)
            </td>

            <td>
                @Html.DisplayFor(modelItem => itemlunch.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemlunch.Fat)
            </td>

            <td>
                @Html.DisplayFor(modelItem => itemlunch.Carbohydrates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemlunch.Weight)
            </td>
        </tr>
    }
    @if (SnacksCount == Model.FoodModels.Where(f => f.MealType == Dziennik_v0._1.Core.Models.Enums.MealType.snacks).Count())
    {
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Html.ActionLink("+", "Index", null, null, new { @class = "btn btn-primary btn-sm" })</td>
    </tr>
    }
</table>