@model PagedList.IPagedList<Dziennik_v0._1.Core.Models.TrainigBaseModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "TrainingBoard";
}



<h2>Moje Treningi:</h2>
<div>
    <p>
        @Html.ActionLink("Dodaj trening siłowy", "CreateWorkout", null, new { @class = "btn btn-success m-3" })
        @Html.ActionLink("Dodaj trening cardio", "CreateCardio", null, new { @class = "btn btn-success m-3", @id = "btn-cardio" })
    </p>
</div>

<table class="table text-center">
    <tr>
        <th class="text-center">
            Edycja:
        </th>

        <th class="text-center">
            Data:
        </th>

        <th class="text-center">
            Czas treningu:
        </th>

        <th class="text-center">
            Rodzaj treningu:
        </th>

        <th class="text-center">
            Szczegóły:
        </th>

        <th class="text-center">
            Usuń:
        </th>
    </tr>

    @foreach (var model in Model)
    {
        {
            if (model is Dziennik_v0._1.Core.Models.Cardio)
            {
                <tr class="cardioRow">
                    <td>
                        <a href="@Url.Action("Edit", "UserTranings", new { id = model.Id, type = "cardio" })" class="btn btn-success btn-sm" , id="btn-cardio">

                            <i class="fas fa-edit"></i>
                        </a>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => model.Date)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => model.LengthOfTraining)
                    </td>

                    <td>
                        <i class="fas fa-heartbeat"></i>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "UserTranings", new { id = model.Id, type = "cardio" })" class="btn btn-sm btn-primary">

                            <i class="fas fa-list-alt"></i>
                        </a>
                    </td>

                    <td>
                        <a href="@Url.Action("Delete", "UserTranings", new { id = model.Id, type = "cardio" })" class="btn btn-danger btn-sm">

                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
            else
            {
                <tr class="workoutRow">
                    <td>
                        <a href="@Url.Action("Edit", "UserTranings", new { id = model.Id, type = "workout" })" class="btn btn-success btn-sm">

                            <i class="fas fa-edit"></i>
                        </a>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => model.Date)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => model.LengthOfTraining)
                    </td>

                    <td>
                        <i class="fas fa-dumbbell"></i>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "UserTranings", new { id = model.Id, type = "workout" })" class="btn btn-sm btn-primary">

                            <i class="fas fa-list-alt"></i>
                        </a>
                    </td>

                    <td>
                        <a href="@Url.Action("Delete", "UserTranings", new { id = model.Id, type = "workout" })" class="btn btn-danger btn-sm">

                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        }
    }
</table>
<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("TrainingBoard", "UserTranings", new { page }))
</div>
