@model Dziennik_v0._1.Core.ViewModels.StatisticsViewModels.TraningsLengthListViewModel

<h2>Statystyki:</h2>

<h3>Roczne Podsumowanie:</h3>


    <h4>Wybierz rok:</h4>
    <div>
        @foreach (var item in Model.YearsWithTraning)
        {
            <a href="#" class="js-year btn btn-primary" data="@item.ToString()">
                @item.ToString()
            </a>
        }
    </div>


<figure class="highcharts-figure" style="margin-top:15px; margin-bottom:30px">
    <div id="container"></div>
</figure>

<h4>Statystyki szczegółowe wybierz rodzaj treningu:</h4>
<div>
    <p>
        @Html.ActionLink("Trening siłowy", "WorkoutStatistics", null, new { @class = "btn btn-success m-3" })
        @Html.ActionLink("Trening cardio", "CardioStatistics", null, new { @class = "btn btn-success m-3", @id = "btn-cardio" })
    </p>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/highchartjs")
    @Scripts.Render("~/bundles/highchartcss")
    <script>
        Highcharts.setOptions({
            chart: {
                style: {
                    fontFamily: 'Lato'
                }
            },
            lang: {
                months: [
                    'Styczeń', 'Luty', 'Marzec', 'Kwiecień',
                    'Maj', 'Czerwiec', 'Lipiec', 'Sierpień',
                    'Wrzesień', 'Pażdziernik', 'Listopad', 'Grudzień'
                ]
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/Api/StatisticsApi/TraningsLengthList/" +@DateTime.Now.Year,
                method: "GET"
            })
                .done(function (data) {
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Czas Treningów w @DateTime.Now.Year'
                        },
                        xAxis: {
                            categories: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierepień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Ilość minut treningu'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (
                                        Highcharts.defaultOptions.title.style &&
                                        Highcharts.defaultOptions.title.style.color
                                    ) || 'gray'
                                }
                            }
                        },
                        legend: {
                            align: 'right',
                            x: -30,
                            verticalAlign: 'top',
                            y: 25,
                            floating: true,
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || 'white',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br />',
                            pointFormat: '{series.name}: {point.y} min.<br />Łącznie: {point.stackTotal} min.'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        series: [{
                            name: 'Siłowy',
                            data: data.workouts,
                            color: '#62c462',
                        }, {
                            name: 'Cardio',
                            data: data.cardios,
                            color: '#DEBA6F',
                        }]
                    });
                })
                .fail(function () {
                    alert("Something failed!");
                });

                })
    </script>

    <script>
        $(".js-year").click(function (e) {
            $.ajax({
                url: "/Api/StatisticsApi/TraningsLengthList/" + $(e.target).attr("data"),
                method: "GET"
            })
                .done(function (data) {
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Czas Treningów w ' + $(e.target).attr("data"),
                        },
                        xAxis: {
                            categories: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierepień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Ilość minut treningu'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (
                                        Highcharts.defaultOptions.title.style &&
                                        Highcharts.defaultOptions.title.style.color
                                    ) || 'gray'
                                }
                            }
                        },
                        legend: {
                            align: 'right',
                            x: -30,
                            verticalAlign: 'top',
                            y: 25,
                            floating: true,
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || 'white',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br />',
                            pointFormat: '{series.name}: {point.y} min.<br />Łącznie: {point.stackTotal} min.'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        series: [{
                            name: 'Siłowy',
                            data: data.workouts,
                            color: '#62c462',
                        }, {
                            name: 'Cardio',
                            data: data.cardios,
                            color: '#DEBA6F',
                        }]
                    });
                })
                .fail(function () {
                    alert("Something failed!");
                });

        })
    </script>
}