@model Dziennik_v0._1.Core.ViewModels.StatisticsViewModels.WorkoutStatisticsViewModel

@{
    ViewBag.Title = "CardioStatistics";
}


<h2>Statystyki treningu cardio:</h2>

@Html.ActionLink("Podsumowanie roczne", "CardioStatistics", null, new { @class = "btn btn-success m-3", @id = "btn-cardio" })

<span style="float:right">
    <a href="#" class="js-type btn btn-primary btn-warning" data="Distance">
        Dystans
    </a>
    <a href="#" class="js-type btn btn-primary" data="Count">
        Ilość treningów
    </a>
    <a href="#" class="js-type btn btn-primary" data="Length">
        Czas treningów
    </a>
</span>

    <h4>Wybierz rok:</h4>
    <div>
        @foreach (var item in Model.YearsWithTraning)
        {
            <a href="#" class="js-year btn btn-primary" data="@item.ToString()">
                @item.ToString()
            </a>
        }
    </div>
<h4>Wybierz miesiąc:</h4>
<div>
    @for (int i = 1; i < 13; i++)
    {
        <a href="#" class="js-month btn btn-primary disabled" data="@i">
            @i
        </a>
    }
</div>

<figure class="highcharts-figure" style="margin-top:15px; margin-bottom:30px">
    <div id="container"></div>
</figure>


<div>
    <p>
        @Html.ActionLink("Powrót do ogólnych statystyk", "AnnualStatistics", null, new { @class = "btn btn-primary m-3" })
    </p>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/highchartjs")
    @Scripts.Render("~/bundles/highchartcss")
    <script>
        var year = 2020;
        var month = @DateTime.Now.Month;
        const monthNames = [
            'Styczeń', 'Luty', 'Marzec', 'Kwiecień',
            'Maj', 'Czerwiec', 'Lipiec', 'Sierpień',
            'Wrzesień', 'Pażdziernik', 'Listopad', 'Grudzień'
        ];
        var typeOfResult = "Distance";
    </script>
    <script>
        $(".js-type").click(function (e) {
            typeOfResult = $(e.target).attr("data"),
                $(".js-type").removeClass('btn-warning');
                $(e.target).addClass('btn-warning');
        });
    </script>
    <script>
        Highcharts.setOptions({
            chart: {
                style: {
                    fontFamily: 'Lato'
                },
            },
            lang: {
                months: [
                    'Styczeń', 'Luty', 'Marzec', 'Kwiecień',
                    'Maj', 'Czerwiec', 'Lipiec', 'Sierpień',
                    'Wrzesień', 'Pażdziernik', 'Listopad', 'Grudzień'
                ],
                shortMonths: ['Sty', 'Lut', 'Mar', 'Kwi', 'Maj', 'Cze', 'Lip', 'Sie', 'Wrz', 'Paź', 'Lis', 'Gru'],
                noData: "Brak treningow w tym okresie",
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/Api/StatisticsApi/Cardio" + typeOfResult + "SumaryList/",
                method: "GET"
            })
                .done(function (data) {
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Dystans:'
                        },
                        xAxis: {
                            categories: data.yearsWithTraning
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Dystans w km.'
                            },
                        },
                        series: [{
                            name: 'Trening cardio',
                            data: data.workoutVolume,
                            color: '#DEBA6F',
                        }]
                    });
                })
                .fail(function () {
                    alert("Something failed!");
                });

        })
    </script>
    <script>
        $(".js-year").click(function (e) {
            year = $(e.target).attr("data"),
                $(".js-year").removeClass('btn-warning');
            $(".js-month").removeClass('btn-warning');
            $(".js-month").removeClass('disabled');
            $(e.target).addClass('btn-warning');
            $.ajax({
                url: "/Api/StatisticsApi/Cardio" + typeOfResult + "PerYearList/" + year,
                method: "GET"
            })
                .done(function (data) {
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Dystans w ' + year,
                        },
                        xAxis: {
                            categories: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierepień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Dystans w km.',
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (
                                        Highcharts.defaultOptions.title.style &&
                                        Highcharts.defaultOptions.title.style.color
                                    ) || 'gray'
                                }
                            }
                        },
                        legend: {
                            align: 'right',
                            x: -30,
                            verticalAlign: 'top',
                            y: 25,
                            floating: true,
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || 'white',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br />',
                            pointFormat: '{series.name}: {point.y} km.<br />Łącznie: {point.stackTotal} km.'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        series: [{
                            name: 'Dystans',
                            data: data.workoutVolume,
                            color: '#DEBA6F',
                        }]
                    });
                })
                .fail(function () {
                    alert("Something failed!");
                });

        })
    </script>
    <script>
        $(".js-month").click(function (e) {
            month = $(e.target).attr("data"),
                $(".js-month").removeClass('btn-warning');
            $(e.target).addClass('btn-warning');
            $.ajax({
                url: "/Api/StatisticsApi/Cardio" + typeOfResult + "PerMonthList/" + parseInt(year) + "/" + parseInt(month),
                method: "GET"
            })
                .done(function (data) {
                    var test;
                    var chartdata = [];
                    for (var i = 0; i < data.length; i++) {
                        test = Date.UTC(data[i].year, data[i].month - 1, data[i].day);
                        chartdata.push([test, data[i].distance]);
                    }

                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Dystans w ' + year + ' ' + monthNames[month - 1],
                        },
                        xAxis: {
                            type: "datetime",
                            min: Date.UTC(parseInt(year), parseInt(month) - 1, 1),
                            max: Date.UTC(parseInt(year), parseInt(month), 0),
                            labels: {
                                format: '{value:%e.%b}',
                                rotation: -45,
                            },
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Dystans w km.'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (
                                        Highcharts.defaultOptions.title.style &&
                                        Highcharts.defaultOptions.title.style.color
                                    ) || 'gray'
                                }
                            }
                        },
                        legend: {
                            align: 'right',
                            x: -30,
                            verticalAlign: 'top',
                            y: 25,
                            floating: true,
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || 'white',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br />',
                            pointFormat: '{series.name}: {point.y} km.<br />Łącznie: {point.stackTotal} km.'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        series: [{
                            name: 'Dystans',
                            data: chartdata,
                            color: '#DEBA6F',
                        }]
                    });
                })
                .fail(function () {
                    alert("Something failed!");
                });

        })
    </script>

}