@model Dziennik_v0._1.Core.ViewModels.StatisticsViewModels.WorkoutStatisticsViewModel

@{
    ViewBag.Title = "WorkoutStatistics";
}


<h2>Statystyki treningu siłowego:</h2>
@Html.ActionLink("Podsumowanie roczne", "WorkoutStatistics", null, new { @class = "btn btn-success m-3" })

    <h4>Wybierz rok:</h4>
    <div>
        @foreach (var item in Model.YearsWithTraning)
        {
            <a href="#" class="js-year btn btn-primary" data="@item.ToString()">
                @item.ToString()
            </a>
        }
    </div>
<h4>Wybierz miesiąc:</h4>
<div>
    @for (int i = 1; i < 13; i++)
    {
        <a href="#" class="js-month btn btn-primary disabled" data="@i">
            @i
        </a>
    }
</div>

<figure class="highcharts-figure" style="margin-top:15px; margin-bottom:30px">
    <div id="container"></div>
</figure>


<div>
    <p>
        @Html.ActionLink("Powrót do ogólnych statystyk", "AnnualStatistics", null, new { @class = "btn btn-primary m-3" })
    </p>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/highchartjs")
    @Scripts.Render("~/bundles/highchartcss")
    <script>
        Highcharts.setOptions({
            chart: {
                style: {
                    fontFamily: 'Lato'
                },
            },
            lang: {
                months: [
                    'Styczeń', 'Luty', 'Marzec', 'Kwiecień',
                    'Maj', 'Czerwiec', 'Lipiec', 'Sierpień',
                    'Wrzesień', 'Pażdziernik', 'Listopad', 'Grudzień'
                ],
                shortMonths: ['Sty', 'Lut', 'Mar', 'Kwi', 'Maj', 'Cze', 'Lip', 'Sie', 'Wrz', 'Paź', 'Lis', 'Gru'],
                noData: "Brak treningow w tym okresie",
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/Api/StatisticsApi/WorkoutVolumeSumaryList/",
                method: "GET"
            })
                .done(function (data) {
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Objętość treningowa:'
                        },
                        xAxis: {
                            categories: data.yearsWithTraning
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Objętość w kg.'
                            },
                        },
                        series: [{
                            name: 'Trening siłowy',
                            data: data.workoutVolume,
                            color: '#62c462',
                        }]
                    });
                })
                .fail(function () {
                    alert("Something failed!");
                });

        })
    </script>
    <script>
        var year = 2020;
        var month = @DateTime.Now.Month;
        const monthNames = [
            'Styczeń', 'Luty', 'Marzec', 'Kwiecień',
            'Maj', 'Czerwiec', 'Lipiec', 'Sierpień',
            'Wrzesień', 'Pażdziernik', 'Listopad', 'Grudzień'
        ]
    </script>
    <script>
        $(".js-year").click(function (e) {
            year = $(e.target).attr("data"),
                $(".js-year").removeClass('btn-success');
            $(".js-month").removeClass('btn-success');
            $(".js-month").removeClass('disabled');
                $(e.target).addClass('btn-success');
            $.ajax({
                url: "/Api/StatisticsApi/WorkoutVolumePerYearList/" + year,
                method: "GET"
            })
                .done(function (data) {
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Czas Treningów w ' + year,
                        },
                        xAxis: {
                            categories: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierepień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Objetość treningu w kg.'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (
                                        Highcharts.defaultOptions.title.style &&
                                        Highcharts.defaultOptions.title.style.color
                                    ) || 'gray'
                                }
                            }
                        },
                        legend: {
                            align: 'right',
                            x: -30,
                            verticalAlign: 'top',
                            y: 25,
                            floating: true,
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || 'white',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br />',
                            pointFormat: '{series.name}: {point.y} kg.<br />Łącznie: {point.stackTotal} kg.'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        series: [{
                            name: 'Objętość',
                            data: data.workoutVolume,
                            color: '#62c462',
                        }]
                    });
                })
                .fail(function () {
                    alert("Something failed!");
                });

        })
    </script>
    <script>
        $(".js-month").click(function (e) {
            month = $(e.target).attr("data"),
                $(".js-month").removeClass('btn-success');
                $(e.target).addClass('btn-success');
                $.ajax({
                    url: "/Api/StatisticsApi/WorkoutVolumePerMonthList/" + parseInt(year) + "/" + parseInt(month),
                    method: "GET"
                })
                    .done(function (data) {
                        var test;
                        var chartdata = [];
                        for (var i = 0; i < data.length; i++) {
                            test = Date.UTC(data[i].year, data[i].month - 1, data[i].day);
                            chartdata.push([test, data[i].workoutVolume]);
                        }

                        Highcharts.chart('container', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Objętość treningów ' + year + ' ' + monthNames[month-1],
                            },
                            xAxis: {
                                type: "datetime",
                                min: Date.UTC(parseInt(year), parseInt(month) - 1, 1),
                                max: Date.UTC(parseInt(year), parseInt(month), 0),
                                labels: {
                                    format: '{value:%e.%b}',
                                    rotation: -45,
                                },
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Objętość w kg.'
                                },
                                stackLabels: {
                                    enabled: true,
                                    style: {
                                        fontWeight: 'bold',
                                        color: (
                                            Highcharts.defaultOptions.title.style &&
                                            Highcharts.defaultOptions.title.style.color
                                        ) || 'gray'
                                    }
                                }
                            },
                            legend: {
                                align: 'right',
                                x: -30,
                                verticalAlign: 'top',
                                y: 25,
                                floating: true,
                                backgroundColor:
                                    Highcharts.defaultOptions.legend.backgroundColor || 'white',
                                borderColor: '#CCC',
                                borderWidth: 1,
                                shadow: false
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br />',
                                pointFormat: '{series.name}: {point.y} kg.<br />Łącznie: {point.stackTotal} kg.'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal',
                                    dataLabels: {
                                        enabled: true
                                    }
                                }
                            },
                            series: [{
                                name: 'Objetość',
                                data: chartdata,
                                color: '#62c462',
                            }]
                        });
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });

        })
    </script>
}