@model Dziennik_v0._1.Core.ViewModels.StatisticsViewModels.WorkoutStatisticsViewModel

@{
    ViewBag.Title = "WorkoutStatistics";
}


<h2>Statystyki treningu siłowego:</h2>

@if (Model.YearsWithTraning.Count() > 1)
{
    <h4>Wybierz rok:</h4>
    <div>
        @foreach (var item in Model.YearsWithTraning)
        {
            <button type="button" class="btn btn-primary" id="@item.ToString()"> @item.ToString()</button>
        }
    </div>
}

<figure class="highcharts-figure" style="margin-top:15px; margin-bottom:30px">
    <div id="container"></div>
</figure>

<div>
    <p>
        @Html.ActionLink("Powrót do ogólnych statystyk", "AnnualStatistics", null, new { @class = "btn btn-primary m-3" })
    </p>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/highchartjs")
    @Scripts.Render("~/bundles/highchartcss")
    <script>
        Highcharts.setOptions({
            chart: {
                style: {
                    fontFamily: 'Lato'
                },
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/Api/StatisticsApi/WorkoutVolumeSumaryList/",
                method: "GET"
            })
                .done(function (data) {
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Czas Treningów w @DateTime.Now.Year'
                        },
                        xAxis: {
                            categories: data.yearsWithTraning
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Ilość minut treningu'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (
                                        Highcharts.defaultOptions.title.style &&
                                        Highcharts.defaultOptions.title.style.color
                                    ) || 'gray'
                                }
                            }
                        },
                        series: [{
                            name: 'Siłowy',
                            data: data.workoutVolume,
                            color: '#62c462',
                        }]
                    });
                })
                .fail(function () {
                    alert("Something failed!");
                });

                })
    </script>
}