@model Dziennik_v0._1.Core.ViewModels.IndexUserPanelViewModel

@{
    ViewBag.Title = "Index";
}
<h2>Moje Treningi:</h2>

<p>
    @Html.ActionLink("Dodaj trening siłowy", "Create", null, new { @class = "btn btn-success m-3" })
    @Html.ActionLink("Dodaj trening cardio", "CreateCardio", null, new { @class = "btn btn-success m-3", @id= "btn-cardio" })
</p>
<table class="table text-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CardioList[0].Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardioList[0].LengthOfTraining)
        </th>
        <th>
            Objętość/Rodzaj cardio:
        </th>
        <th>
            Rodzaj treningu:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.WorkoutList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthOfTraining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutVolume)
            </td>
            <td>
                @{
                    if (item is Dziennik_v0._1.Core.Models.Workout)
                    {
                        <i class="fas fa-dumbbell"></i>
                    }
                    else
                    {
                        <i class="fas fa-heartbeat"></i>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
                    }
        @foreach (var model in Model.CardioList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => model.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => model.LengthOfTraining)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => model.CardioType)
                </td>
                <td>
                    @{
                        if (model is Dziennik_v0._1.Core.Models.Workout)
                        {
                            <i class="fas fa-dumbbell"></i>
                        }
                        else
                        {
                            <i class="fas fa-heartbeat"></i>
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = model.Id }) |
                    @Html.ActionLink("Details", "DetailsCardio", new { id = model.Id }) |
                    @Html.ActionLink("Delete", "DeleteCardio", new { id = model.Id })
                </td>
            </tr>
        }
    </table>