@model Dziennik_v0._1.Core.ViewModels.IndexUserPanelViewModel

@{
    ViewBag.Title = "Index";
}
<h2>Moje Treningi:</h2>
<div>
    <p>
        @Html.ActionLink("Dodaj trening siłowy", "Create", null, new { @class = "btn btn-success m-3" })
        @Html.ActionLink("Dodaj trening cardio", "CreateCardio", null, new { @class = "btn btn-success m-3", @id = "btn-cardio" })
    </p>
</div>

<table class="table text-center">
    <tr>
        <th>
            Edycja:
        </th>

        <th>
            Data:
        </th>

        <th>
            Czas treningu:
        </th>

        <th>
            Rodzaj treningu:
        </th>

        <th>
            Szczegóły:
        </th>

        <th>
            Usuń:
        </th>
    </tr>

    @foreach (var model in Model.TraningList)
    {
        {
            if (model is Dziennik_v0._1.Core.Models.Cardio)
            {
                <tr class="cardioRow">
                    <td>
                        <a href="@Url.Action("Edit", "UserPanel", new { id = model.Id, type = "cardio" })" class="btn btn-success btn-sm" , id="btn-cardio">

                            <i class="fas fa-edit"></i>
                        </a>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => model.Date)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => model.LengthOfTraining)
                    </td>

                    <td>
                        <i class="fas fa-heartbeat"></i>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "UserPanel", new { id = model.Id, type = "cardio" })" class="btn btn-sm btn-primary">

                            <i class="fas fa-list-alt"></i>
                        </a>
                    </td>

                    <td>
                        <a href="@Url.Action("Delete", "UserPanel", new { id = model.Id, type = "cardio" })" class="btn btn-danger btn-sm">

                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
            else
            {
                <tr class="workoutRow">
                    <td>
                        <a href="@Url.Action("Edit", "UserPanel", new { id = model.Id, type = "workout" })" class="btn btn-success btn-sm">

                            <i class="fas fa-edit"></i>
                        </a>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => model.Date)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => model.LengthOfTraining)
                    </td>

                    <td>
                        <i class="fas fa-dumbbell"></i>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "UserPanel", new { id = model.Id, type = "workout" })" class="btn btn-sm btn-primary">

                            <i class="fas fa-list-alt"></i>
                        </a>
                    </td>

                    <td>
                        <a href="@Url.Action("Delete", "UserPanel", new { id = model.Id, type = "workout" })" class="btn btn-danger btn-sm">

                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        }
    }
</table>